body{
    margin: 0px;
}

.navbar{
    background: #FFEFBA; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); 
}

.title {
    font-family: 'Press Start 2P', cursive; 
    font-size: 36px; 
    color: #ffcc00; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
    letter-spacing: 2px; 
    text-align: center; 
}

#puntuacion{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:50PX;
    margin-left: 5px;
    width: 100%;
    overflow: auto;
    text-align: center;
}


.texto {
    margin: 0;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.pepe{
    text-align: center;
    
}

.imagenes{
    width: 100%;
}

.segundo{
    padding: 10px;
}

.principal{
    border: 3px solid;
    border-radius: 20px;
    border-color: rgb(180, 178, 178);
    height: calc(100vh - 70px); /* Ajusta 56px según la altura real del navbar */
}

.pol{
    width: 30%;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

.card{
    border: 3px solid;
    border-color: rgb(180, 178, 178);
    
}

#img1:active{
    transform: scale(1.02);
}

#img1:hover{
    opacity: 0.9;;
}

#img1{
    cursor: pointer;
    width: 50%;
    max-width: 300px;
}

.progress {
    display: flex;
    height: 20px;
    background-color: #e9ecef;
}

.btn{
    width: 100%;
    max-width: 150px;
    margin-top: 10px;
}
.progress-bar.segment {
    flex: 1;
    background-color: #6c757d;
    opacity: 0.3; 
    transition: opacity 0.3s, background-color 0.3s;
    border: 1px solid;
    
}

.progress-bar.segment.active {
    opacity: 1; 
    background-color: #0d6efd;
    border: 1px solid;
    
    
}
.card-body {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.bajo {
    margin-top: auto; 
    width: 100%; 
}